{% extends 'Home.html' %}

{% block ForNav %}

<div class="container">

    <form action="/services/activedataentry/" class="row" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="col-sm-12 col-md-3 col-4-lg py-2">
            <label class="col-form-label">Upload Active Emplployees File</label>
        </div>
        <div class="col-sm-12 col-md-3 col-4-lg py-2">
            <input class="form-control" id="activeEmployees" name="activeEmployees" required type="file">
        </div>
        <div class="col-sm-12 col-md-3 col-4-lg py-2">
            <button class="btn btn-primary mb-3 px-2" type="submit">Upload Data</button>
        </div>
    </form>

    <div>
        <h5>
            <div class="alert alert-primary" role="alert">
                Total Data : {{data_count}}
            </div>
        </h5>
    </div>

    <form action="/services/activedataentry/delete/" method="POST">
        {% csrf_token %}
        <div class="d-grid gap-2">
            <button class="btn btn-danger" type="submit">Delete All Data</button>
        </div>
    </form>

</div>


{% endblock %}